.watchlist {
  width: 98.8rem;
  background-color: #f7f7f7;
  padding: 2.3rem 2.3rem 0 7rem;

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3971c1;
    margin-bottom: 2rem;
  }

  .subfilters {
    position: relative;

    &__option {
      display: flex;
      align-items: center;

      & input {
        margin-right: .5rem;
      }
    }

    &__placeholder {
      font-size: 1.3rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin: 0;
    }

    &__name-input {
      position: absolute;
      bottom: 0;
      left: 1rem;
      font-size: 1.2rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.06rem;
      color: #666;
    }

    &__name {
      padding: 1.5rem 1.2rem;
      font-size: 1.3rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }

    &__indicator {
      padding: .7rem;

      &-separator {
        display: none;
      }
    }

    &__dropdown-indicator {
      transition: all .4s;

      &:hover {
        background-color: #f7f7f7;
      }

      & svg {
        transform: rotateZ(0deg);
        transition: all .4s;
      }
    }

    &__control {
      width: 17.2rem;
      height: 4rem;
      min-height: unset;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      border-radius: 0.3rem;
      border: 0;
      cursor: pointer;
      padding-left: 1rem;

      &--menu-is-open {
        & .subfilters__dropdown-indicator {
          background-color: #f7f7f7;
        }

        & .subfilters__dropdown-indicator svg {
          transform: rotateZ(180deg);
        }
      }
    }

    &__single-value, &__multi-value__label {
      font-size: 1.3rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
      margin: 0;
      padding: 0;
    }

    &__multi-value__remove {
      display: none;
    }

    &__multi-value {
      background-color: unset;
    }

    &__value-container {
      position: relative;
      bottom: 0.6rem;
      padding: 0;

      &--has-value {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

  &__tools {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.3rem;

    &.open ~ .watchlist__tools__filters {
      display: flex !important;
    }

    &__box {
      width: 10rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: .1rem solid #e0e0e0;
      border-radius: .3rem;
      margin-right: .6rem;
      cursor: pointer;
      transition: background-color .4s;

      &.open {
        position: relative;
        background-color: #e0e0e0;

        &:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 1rem solid transparent;
          border-right: 1rem solid transparent;
          border-bottom: 1.5rem solid #e0e0e0;
          bottom: -1.6rem;
          left: calc(50% - 1rem);
        }
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }

    &__img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      color: #3971c1;
    }

    &__text {
      font-size: 1.3rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #292929;
    }

    &__filters {
      width: 75.1rem;
      background-color: #e0e0e0;
      padding: 2rem 2.4rem;
      justify-content: space-between;
      position: relative;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      border-radius: .3rem;
      display: none;

      &__reset {
        width: 17.2rem;
        height: 4rem;
        background-color: #3971c1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .3rem;
        color: #fff;
        cursor: pointer;
        font-size: 1.2rem;
        transition: all .4s;

        &:hover {
          background-color: #2659a2;
        }
      }

      &__item {
        width: 17.2rem;
        height: 4rem;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        border-radius: .3rem;

        &.appear {
          & .watchlist__subfilter {
            display: unset;
          }

          & .watchlist__tools__filters__item__angle {
            background-color: #f7f7f7;

            &__icon {
              transform: rotateZ(180deg);
            }
          }
        }

        &__box {
          padding: .5rem 0 .5rem 1rem;
          position: relative;
        }

        &__selected {
          font-size: 1.3rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #292929;
        }

        &__type {
          font-size: 1rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.6;
          letter-spacing: 0.05rem;
          color: #666;
        }

        &__angle {
          width: 3.1rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: inherit;
          transition: background-color .4s;
          cursor: pointer;
          border-radius: 0 .3rem .3rem 0;

          &__icon {
            font-size: 1.2rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #8c8c8c;
            transform: rotateZ(0deg);
            transition: all .4s;
          }

          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }
}